APP_NAME=Aladdin Forex AI
APP_VERSION=1.1.0

ENVIRONMENT=production
DEBUG=false

# Generate a strong secret before deployment.
SECRET_KEY=Lzk_o7yc4QZLujF_i2KGmt51U-kJwSliQgCALRvpN-iR21CjIgHJXY0-BoNSQeQv

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

LOG_LEVEL=INFO

DATA_FOLDER=data
TRADES_FILE=data/trades.json

DEFAULT_CURRENCY=USD
DEFAULT_RISK_PERCENT=1.0

DATABASE_URL=postgresql://aladdin_user:dX8x6n2MxjLRaLv7OAt2gYCEOjhHflN3@postgres:5432/aladdin_db

CORS_ORIGINS=http://localhost:3000

POSTGRES_PASSWORD=dX8x6n2MxjLRaLv7OAt2gYCEOjhHflN3